@model Portal.Dto.Dtos.Bulletin.BulletinTypeDto
@{
    ViewBag.Title = "افزودن دسته‌بندی اطلاعیه";
}
<h2>@ViewBag.Title</h2>
<div class="row">
<div class="col-md-6">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    </div>
    </div>
    @Html.ActionLink("بازگشت به لیست", "Index")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}